.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 300px;
}
.hangman_box img{
    display: none;
}
.hangman_box div{
    width: 40%;
}
.hangman_box h1{
    text-align: center;
}